<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Dynamic Table</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="a1">
        <a class="nav-link" routerLink="home" (click)="navigate(1)">Home</a>
      </li>
      <li class="nav-item" id="a2">
        <a class="nav-link" routerLink="create" (click)="navigate(2)">Create Table</a>
      </li>
      <li class="nav-item" id="a3">
        <a class="nav-link" routerLink="download" (click)="navigate(3)">Download</a>
      </li>
      <li class="nav-item" id="a4">
        <a class="nav-link" routerLink="contact" (click)="navigate(4)">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>